.user-label {
    -fx-background-color: #003e91;
     -fx-text-fill: white;
     -fx-background-radius: 1em ;
     -fx-padding: 5 12 5 12;
}

.bot-label {
    -fx-background-color: #ececec;
    -fx-text-fill: black;
    -fx-background-radius: 1em;
    -fx-border-radius: 0;
    -fx-padding: 8 12 8 12;
    -fx-border-color: transparent;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

